<div >
<% if (typeof errorMessage != 'undefined' && errorMessage && errorMessage.length>0) { %>

    <div class="alert alert-danger">

        <p><%- errorMessage %></p>
    </div>
    <% }%>


    <% if (typeof successMessage != 'undefined' && successMessage && successMessage.length>0) { %>

        <div class="alert alert-success"><%- successMessage %></div>
        <% }%>

    </div>